
Entrega2/RFTG Store/.vs/RFTG Store/v15/Server/sqlite3/db.lock
Entrega2/RFTG Store/.vs/RFTG Store/v15/Server/sqlite3/storage.ide
Entrega2/RFTG Store/.vs/RFTG Store/v15/Server/sqlite3/storage.ide-shm
Entrega2/RFTG Store/.vs/RFTG Store/v15/Server/sqlite3/storage.ide-wal
