
*.config
Entrega2/RFTG Store/RTFGStoreAPI/obj/Debug/RTFGStoreAPI.csproj.FileListAbsolute.txt
Entrega2/RFTG Store/.vs/RFTG Store/v15/Server/sqlite3/db.lock
Entrega2/RFTG Store/.vs/RFTG Store/v15/Server/sqlite3/db.lock
Entrega2/RFTG Store/.vs/RFTG Store/v15/Server/sqlite3/storage.ide-shm
