body {
	margin: 0;
	padding: 0;
	background: #000000 url(images/img01.png) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #787878;
}
img {
  
} 

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #32639A;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
	
}

a {
	text-decoration: none;
	color: #4486C7;
}

a:hover {
	
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

/* Header */
#header {
	width: 940px;
	height: 148px;
	margin: 0 auto;
	background: url(images/img04.png) no-repeat left 20px;
}

/* Logo */
#logo {
	float: left;
	margin: 0;
	padding-top: 30px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 90px;
	letter-spacing: -1px;
	/*text-transform: lowercase;*/
	font-size: 3.8em;
	font-style: italic;
	color: #FFFFFF;
}

#logo h2 {
	float: left;
	padding-left: 90px;
	letter-spacing: -1px;
	/*text-transform: lowercase;*/
	font-size: 1.8em;
	font-style: italic;
	color: #FFFFFF;
}

#logo p {
	float: left;
	margin: 0;
	padding: 26px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #FFFFFF;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */
#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
	background: #A8CF64;
	border-bottom: 4px solid #FFFFFF;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 23px;
	border: 1px solid #89B056;
	background: none;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
}

/* Menu */
#menu {
	width: 940px;
	height: 49px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	width: 155px;
	height: 33px;
	padding-top: 16px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: #659CEF url(images/img03.jpg) repeat-x left bottom;
	text-decoration: none;
}

#menu .current_page_item a {
	background: #FBFBFC url(images/img02.jpg) repeat-x left bottom;
	padding-left: 0;
	color: #30476A;
}

/* Page */
#page {
	width: 940px;
	margin: 0 auto;
	padding: 0;
}

#page-bgtop {
	padding: 20px px;
}

#page-bgbtm {
	
}

/* Content */
#content {
	float: left;
	width: 620px;
	padding: 30px 0px 0px 0px;
}

.post {
	margin-bottom: 15px;
}

.post-bgtop {
	
}

.post-bgbtm {
	
}

.post .title {
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #000000;
}

.post .title a {
	color: #32639A;
	border: none;
}

.post .meta {
	height: 30px;
	background: #D8E7FE;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
	height: 24px;
	padding: 3px 15px;
	color: #4A81DE;
}

.post .meta .posted {
	float: right;
	height: 24px;
	padding: 3px 15px;
	background: #A8CF64;
	color: #FFFFFF;
}

.post .meta a {
	color: #FFFFFF;
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

/* Sidebar */
#sidebar {
	float: right;
	width: 280px;
	padding: 0px;
	color: #787878;
	background: #FFFFFF;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
	border-left: 1px solid #E2E2E2;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #D1D1D1;
	margin: 0px 30px;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding-left: 30px;
	letter-spacing: -.5px;
	font-size: 1.8em;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #8A8A8A;
}

/* Calendar */
#calendar {
	
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */
#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #D8E7FE;
	border-top: 1px solid #D3DEF0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: black;
}

#footer a {
	color: black;
}
    .gwd-input-nqb7 {
      position: absolute;
      left: 655px;
      top: 110px;
      height: 23px;
      width: 282px;
    }
    .gwd-label-51p8 {
      position: absolute;
      top: 132px;
      left: 461px;
      border-radius: 30px;
      border-style: solid;
      border-width: 0px;
      transform-style: preserve-3d;
      transform: translate3d(82px, -8px, 0px) scale3d(3, 3, 3);
      height: 18px;
      width: 88px;
    }
    .gwd-input-1w0m {
      left: 308px;
      top: 56px;
    }
    .gwd-label-14ee {
      background-image: none;
      border-image-source: none;
      border-image-width: 1;
      border-image-outset: 0;
      border-image-repeat: stretch;
      border-color: rgb(0, 0, 0);
      background-color: transparent;
      color: rgb(255, 242, 242);
      transform: translate3d(12px, -8px, 0px) scale3d(3, 3, 3);
    }
    .gwd-img-z7al {
      position: absolute;
      width: 12%;
      height: 21.04%;
      left: 9%;
      top: 36%;
    }
    .gwd-label-o37d {
      font-family: Arial;
      font-size: 8px;
      width: 43px;
      height: 8.8px;
      transform: translate3d(-239px, -66px, 0px) scale3d(3, 3, 3);
    }
    .gwd-input-15hk {
      left: 308px;
      top: 95px;
    }
    .gwd-label-10wv {
      transform: translate3d(-239px, -27px, 0px) scale3d(3, 3, 3);
    }
    .gwd-label-12xh {
      transform: translate3d(183px, -27px, 0px) scale3d(3, 3, 3);
    }
    .gwd-input-2gud {
      top: 95px;
      left: 730px;
    }
    .gwd-label-1a2c {
      transform: translate3d(-137px, 191px, 0px) scale3d(3, 3, 3);
    }
    .gwd-input-1vwk {
      width: 705px;
      height: 23px;
      left: 410px;
      top: 314px;
    }
    .gwd-input-ofq8 {
      width: 282px;
      height: 23px;
      left: 410px;
      top: 276px;
    }
    .gwd-input-1acw {
      left: 308px;
      top: 173px;
      width: 281px;
    }
    .gwd-label-16yv {
      transform: translate3d(-239px, 51px, 0px) scale3d(3, 3, 3);
    }
    .gwd-input-1jtx {
      top: 173px;
      left: 730px;
    }
    .gwd-label-13kn {
      transform: translate3d(183px, 51px, 0px) scale3d(3, 3, 3);
    }
    .gwd-label-17oy {
      transform: translate3d(-157px, 269px, 0px) scale3d(3, 3, 3);
    }
    .gwd-input-1j9i {
      width: 436px;
      height: 23px;
      left: 411px;
      top: 391px;
    }
    .gwd-input-1mno {
      width: 146px;
      height: 23px;
      left: 966px;
      top: 392px;
    }
    .gwd-label-id8x {
      width: 32px;
      transform: translate3d(438px, 270px, 0px) scale3d(3, 3, 3);
    }
    .gwd-input-zmjf {
      width: 282px;
      height: 23px;
      left: 410px;
      top: 237px;
    }
    .gwd-input-f6w2 {
      width: 282px;
      height: 23px;
      left: 832px;
      top: 276px;
    }
    .gwd-input-1ycf {
      width: 281px;
      height: 23px;
      left: 410px;
      top: 354px;
    }
    .gwd-input-o81v {
      width: 281px;
      height: 23px;
      left: 832px;
      top: 354px;
    }
    .gwd-label-cgmf {
      transform: translate3d(-137px, 115px, 0px) scale3d(3, 3, 3);
    }
    .gwd-label-ku4e {
      transform: translate3d(-137px, 154px, 0px) scale3d(3, 3, 3);
    }
    .gwd-label-1mba {
      transform: translate3d(285px, 154px, 0px) scale3d(3, 3, 3);
    }
    .gwd-label-z2ma {
      transform: translate3d(-137px, 232px, 0px) scale3d(3, 3, 3);
    }
    .gwd-label-130g {
      transform: translate3d(285px, 232px, 0px) scale3d(3, 3, 3);
    }
    .gwd-button-jq9i {
      position: absolute;
      width: 255px;
      height: 50px;
      transform-origin: 127.347px 24.9019px 0px;
      left: 253px;
      top: 348px;
    }
    .gwd-button-gs18 {
      left: 535px;
      top: 473px;
    }
    .gwd-button-17yy {
      left: 825px;
      top: 474px;
    }
    .gwd-button-kv7y {
      top: 473px;
    }